.app__header {
  background-color: var(--color-black);
  width: 100vw;
}
.app__header-h1 {
  font-size: 90px;
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 110px;
}
@media screen and (max-width: 2000px) {
}
@media screen and (max-width: 900px) {
  .app__header {
    padding: 0 6rem;
  }
  .app__wrapper_info p {
    font-size: 14px;
  }
  .app__wrapper_info h1 {
    font-size: 4rem;
  }
  .app__wrapper_img {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .app__header-h1 {
    line-height: 80px;
  }
}
